<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "email" %>
  </div>
  <div>
    <%=  f.label :postcode, '郵便番号'%><br />

    <%=  f.text_field :postcode, autocomplete: 'postcode', class: 'form-control'%>
  </div>


  <div>
    <%=  f.label :prefecture_name, '都道府県'%><br />

    <%# 47都道府県をプルダウンメニューで表示 %>
   
    <%=  f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control'%>
  </div>

  <div>
    <%=  f.label :address_city, '市区町村'%><br />

    <%=  f.text_field :address_city, autocomplete: 'address_city', class: 'form-control'%>
  </div>


  <div>
    <%=  f.label :address_street, '番地'%><br />

    <%=  f.text_field :address_street, autocomplete: 'address_street', class: 'form-control'%>
  </div>


  <div>
    <%=  f.label :address_building, '建物'%><br />

    <%=  f.text_field :address_building, autocomplete: 'address_building', class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "password_confirm" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" ,class: 'btn btn-success' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
